[user]
    email = vlpatton@vlpatton.gay
    name = Harper Londyn
    signingkey = /run/media/vlpatton/keys/id_vlpatton_ed25519.pub
[gpg]
    format = ssh
[core]
    editor = /usr/bin/nvr --remote-wait
[commit]
    gpgsign = true
